html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

:root {
  --scissors-light: hsl(39, 89%, 49%);
  --scissors-dark: hsl(28, 77%, 44%);
  --paper-light: hsl(230, 89%, 65%);
  --paper-dark: hsl(230, 64%, 46%);
  --rock-light: hsl(349, 70%, 56%);
  --rock-dark: hsl(347, 75%, 35%);
  --Lizard-gradient: radial-gradient(
    circle,
    hsl(261, 73%, 60%) 0%,
    hsl(261, 72%, 63%) 100%
  );
  --cyan: radial-gradient(
    circle,
    hsl(189, 59%, 53%) 0%,
    hsl(189, 58%, 57%) 100%
  );
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background-color: rgb(31, 55, 86);
  --background-gradient: radial-gradient(
    circle,
    rgba(31, 55, 86, 1) 0%,
    rgba(20, 21, 57, 1) 100%
  );
}

body {
}

html {
  background: var(--background-color);
  background: var(--background-gradient);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* Layout */

.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  justify-content: space-between;
}

.Wrapper > .HeaderSection {
  /* margin-top: 0; */
}

.Wrapper > .GameSection {
}

.Wrapper > .LegendSection {
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 376px) {
  .Wrapper {
    padding: 32px;
  }

  .Wrapper > .HeaderSection {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .Wrapper > .LegendSection {
    margin-right: 0px;
  }
}

/* Header Section */
.HeaderSection {
  border: 3px solid var(--header-outline);
  border-radius: 5px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderSection__header {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  color: #fff;
}

.HeaderSection__score.Card {
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  width: 80px;
  min-height: 72px;
}

.Card__title {
  color: var(--score-text);
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-align: center;
  letter-spacing: 1.5625px;
}

.Card__score {
  color: #565468;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 376px) {
  .HeaderSection__header {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #fff;
  }

  .HeaderSection__score.Card {
    min-height: 7rem;
    padding: 15px 0;
    width: 150px;
  }

  .Card__title {
    font-size: 1.2rem;
  }

  .Card__score {
    font-size: 3.8rem;
  }
}

/* Game Section */

.GameSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 312px;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  --button-width: 8rem;
  --button-height: 8rem;
  --button-border-radius: 50%;
  --outer-shadow-top: -7px;
  --outer-shadow-left: -15px;
  --border-width: 12px;
  --background-size: 45px;
  --inner-shadow-top-radius: 5px;
  --inner-shadow-side-radius: 1px;
  --button-radius: calc(var(--button-width) / 2);
}

@media all and (min-width: 376px) {
  .GameSection {
    width: 45rem;
    --button-width: 16rem;
    --button-height: 16rem;
    --border-width: 1.5rem;
    --background-size: 6rem;
    --inner-shadow-top-radius: 10px;
    --inner-shadow-side-radius: 2px;
  }
}

.StepOne.GameSection {
  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.GameSection .GameSection__row {
  width: 100%;
  display: flex;
}

.GameSection__row--first {
  justify-content: space-between;
}

.GameSection__row--second {
  justify-content: center;
}

.StepOne .GameSection__row--second {
  margin-bottom: 50px;
}

.StepOne .GameSection__result,
.StepTwo .GameSection__result {
  display: none;
}

.StepTwo .GameSection__row--second {
  display: none;
}

.StepThree .GameSection__row--second {
  display: flex;
}

.StepThree .GameSection__row--second .GameSection__button {
  display: none;
}

.GameSection__item {
  position: relative;
}

.GameSection__button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  background: rgb(243, 243, 243);
  background: radial-gradient(
    circle,
    rgba(243, 243, 243, 1) 0%,
    rgba(218, 218, 218, 1) 100%
  );
  border-style: solid;
  border-width: var(--border-width);
}

.GameSection__button .btn {
  cursor: pointer;
  position: relative;
}

.button--loading {
  width: var(--button-width);
  height: var(--button-height);
  background: #000000;
  opacity: 0.1;
  clip-path: circle(40% at 50% 50%);
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

.button--paper {
  grid-area: button1;
  border-color: var(--paper-light);
  background: url("./images/icon-paper.svg"), rgb(243, 243, 243);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--background-size);
  box-shadow: 0px 10px var(--paper-dark);
}

.button--scissors {
  grid-area: button2;
  border-color: var(--scissors-light);
  background: url("./images/icon-scissors.svg"), rgb(243, 243, 243);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--background-size);
  box-shadow: 0px 10px var(--scissors-dark);
}

.button--rock {
  grid-area: button3;
  border-color: var(--rock-light);
  background: url("./images/icon-rock.svg"), rgb(243, 243, 243);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--background-size);
  box-shadow: 0px 10px var(--rock-dark);
}

.button--paper .btn:before,
.button--scissors .btn:before,
.button--rock .btn:before {
  position: absolute;
  content: "";
  display: block;
  width: calc(var(--button-width) - var(--border-width) - var(--border-width));
  height: calc(
    var(--button-height) - var(--border-width) - var(--border-width) - 2px
  );
  border-radius: var(--button-border-radius);
  border-top: #babfd4 solid var(--inner-shadow-top-radius);
  border-left: #babfd4 solid var(--inner-shadow-side-radius);
  border-right: #babfd4 solid var(--inner-shadow-side-radius);
  z-index: 2;
  left: 0;
  top: -17px;
  clip-path: circle(50%);
}

.button--paper:hover:after,
.button--scissors:hover:after,
.button--rock:hover:after {
  --hoverButton-width: calc(var(--button-width) * 1.3);
  --hoverButton-height: calc(var(--button-height) * 1.3);
  position: absolute;
  content: "";
  display: block;
  width: var(--hoverButton-width);
  height: var(--hoverButton-height);
  border-radius: var(--button-border-radius);
  z-index: -1;
  background: #fff;
  opacity: 0.1;
  left: calc((var(--hoverButton-width) - var(--button-width)) * -0.5);
  top: calc((var(--hoverButton-height) - var(--button-height)) * -0.4);
}

.GameSection__caption {
  margin-top: 1.4rem;
  display: block;
  text-align: center;
  color: #fff;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.StepOne .GameSection__caption {
  display: none;
}

@media all and (min-width: 376px) {
  .GameSection__caption {
    font-size: 24px;
    line-height: 32px;
    font-style: Bold;
    letter-spacing: 3px;
  }
}

/* Result Section */

.GameSection__result {
  /* margin-top: 62px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.Result__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
}

.Result__button {
  width: 220px;
  height: 48px;
  border-radius: 8px;
  margin-top: 16px;
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #3b4262;
}

/* Legend Section */

.LegendSection__button {
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 8px;
  padding: 11px 37px;
  background: transparent;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.LegendSection__button:hover,
.LegendSection__button:focus {
  color: var(--dark-text);
  background-color: #fff;
}

@media all and (min-width: 376px) {
  .LegendSection__button {
    font-size: 1.3rem;
  }
}

.HeaderSection__score @media all and (min-width: 376px) {
}
